@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1 class="text-danger">@localizer["Error"].</h1>
<h2 class="text-danger">
    @localizer["An error occurred while processing your request."]</h2>

@if(Model.ShowRequestId)
{
<p>
    <strong>@localizer["Request ID:"]</strong> <code>@Model.RequestId</code>
</p>
}

<h3>
    @localizer["Development Mode"]</h3>
    <p>
        @localizer["Swapping to"] <strong>@localizer["Development"]</strong> @localizer["environment will display more detailed information about the error that occurred."]
    </p>
<p>
    <strong>
        @localizer["developmentText"]
        The Development environment shouldn't be enabled for deployed applications.
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the Development environment by setting the ASPNETCORE_ENVIRONMENT environment variable to Development
        and restarting the app.
    </strong>
</p>
