@model OrdersViewModel
@{
    ViewData["Title"] = "Orders";
 }

<h1>Orders</h1>
<div style="height:400px;overflow-y:scroll">
    <table class="table bg-light">
        <thead class="thead-dark font-weight-bold">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Client</th>
                <th scope="col">Product</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders.Any())
            {
                foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Client.FirstName @order.Client.LastName</td>
                        <td>@order.Product.Name</td>
                        <td>@order.Product.Cost$</td>
                        <td>@order.Date.ToShortDateString()</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">Has no orders yet</td>
                </tr>
            }
        </tbody>
    </table>
</div>
